{% extends "base.html" %}
{% load markdown_extras %}
{% block content %}
<main class="col-md-8 container">
    <article class="blog-area">
        <h1>{{ object.title }}</h1>
        <p>{{ object.published_at }}</p>
        <p>{{ object.category.name }}</p>
        {% for tag in object.tags.all %}
        <div>#{{ tag.name }}</div>
        {% endfor %}
        <hr>
        <!-- <a href="{% url 'blog:post_detail' post.id %}">
            <img class="card-img-top" src="{{ post.image.url }}" alt="{{ post.title }}">
        </a> -->
        <div id='content'>{{ object.content|markdown|safe }}</div>
    </article>
    <article class="comment-area">
        <a class="btn btn-primary my-3" href="{% url 'blog:comment_form' post.pk %}">コメントを投稿する</a>
        {% include "blog/snippets/comments.html" %}
    </article>
</main>
{% endblock %}